@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:azure">Welcome</h1>
    <p style="color:azure">Learn about <a href="https://docs.microsoft.com/aspnet/core" style="color:azure">building Web apps with ASP.NET Core</a>.</p>
</div>
