@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_PrivacyLayout";
}
<h1 class="display-4" style="color:azure">@ViewData["Title"]</h1>

<p style="color:azure">Use this page to detail your site's privacy policy.</p>
