<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
           
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-controller="Book" asp-action="Create" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Create Book</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Book" asp-action="Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>View Books</p>
                    </a>
                </li>
            </ul>
            
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-controller="Author" asp-action="Create" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Create Authors</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Author" asp-action="Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>View Authors</p>
                    </a>
                </li>  
            </ul>
        </li>
    </ul>
</nav>