<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-controller="Group" asp-action="Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Groups</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="CustomField" asp-action="Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Custom Fields</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Contact" asp-action="Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Contacts</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Import" asp-action="Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Imports</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Export" asp-action="Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Exports</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" method="post" asp-action="Logout" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>