<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Customer
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-controller="Customer" asp-action="Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>List of all Cusomers</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Customer" asp-action="Create" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Create a Customer</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Ticket
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-controller="Ticket" asp-action="Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>List of all Booking Tickets</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Ticket" asp-action="Create" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Book a Ticket</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>